*.py text eol=lf
*.sh text eol=lf
*.sbatch text eol=lf
*.md text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ts text eol=lf
*.html text eol=lf

*.png binary
*.pdf binary
*.docx binary
*.sqlite binary
*.tar.gz binary

